@tailwind base;
@tailwind components;
@tailwind utilities;

  



.font-tektur {
    font-family: var(--font-tektur), sans-serif;
}



/* globals.css */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Add any additional styles here as needed */
